#calendar-wrapper {
  max-width: 1100px;
  margin: 40px auto;
}

#calendar-wrapper * {
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 14px;
}

.fc .fc-button {
  background-color: #2c3e50 !important; /* Bootstrap primary */
  /* border-color: #0d6efd !important; */
  color: white !important;
  padding: 4px 10px;
  border-radius: 4px;
}

.fc .fc-button:hover {
  background-color: #1a252f !important;
}

.fc .fc-button:disabled {
  opacity: 0.5;
}

.fc-col-header-cell-cushion {
  color: #000 !important;
  text-decoration: none !important;
}

.fc-daygrid-day-number {
  color: #000 !important;
  text-decoration: none !important;
}

.fc-daygrid-day a {
  color: #000 !important;
  text-decoration: none !important;
}



